.drinkDetails {
  background-color: #5a1d16;
  color: #f5e6d3;
  padding: 20px;
  text-align: center;
}

.drink {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template: "title title text text"
    "image image instructions instructions"
    "image image instructions instructions";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.drink h1 {
  font-size: 3rem;
  grid-area: title;
}

.drink img {
  border-radius: 8px;
  grid-area: image;
  max-height: 250px;
  max-width: 250px;
  margin-bottom: 20px;
  width: 100%;
}

.instructions {
  font-size: 1.5rem;
  grid-area: instructions;
  line-height: 1.6;
}

.ingredients {
  align-self: end;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 10px;
  grid-area: text;
}

.ingredients div {
  display: flex;
  gap: 10px;
}

.drinkDetails button {
  background-color: #5a1d16;
  border: 1px solid #f5e6d3;
  border-radius: 8px;
  color: #f5e6d3;
  cursor: pointer;
  padding: 10px;
}

.drinkDetails button:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  border-color: #d4af37;
}

@media (max-width: 768px) {

  .drink {
    display: block;
  }

  .ingredients .instructions {
    font-size: 1rem;
  }

  .ingredients div {
    display: block;
    margin-bottom: 20px;
  }
}