.randomPage {
  background-image: url('../../assets/images/random.jpg');
  background-position: center;
  background-size: cover;
  font-size: 4rem;
  margin: 0;
  min-height: 700px;
  padding: 80px;
  text-align: center;
   text-shadow: 3px 1px black;
}

.random {
  align-items: center;
  background-color: #61211a;
  display: grid;
  gap: 10px;
  grid-template: "title title ingredients ingredients"
    "image image instructions instructions"
    "image image instructions instructions";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 30px;
}

.instructions {
  font-size: 1.4rem;
  grid-area: instructions;
  line-height: 1.6;
}

.random h2 {
  font-size: 2rem;
  grid-area: title;
}

.ingredients {
  align-self: end;
  grid-area: ingredients;
}

.ingredients div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.randomImage {
  border-radius: 8px;
  grid-area: image;
  max-height: 400px;
  max-width: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.button {
  background-color: #5a1d16;
  border: 1px solid #f5e6d3;
  border-radius: 8px;
  color: #f5e6d3;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
}
.button:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  border-color: #d4af37; 
}

.wrapper {
  text-align: center;
}

@media (max-width: 768px) {

.random{
  display: block;
}
}