@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.home {
  background-image: url('../../assets/images/hero.webp');
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding: 80px;
  text-align: center;
}

.navcards {
  background-color: #5a1d16;
  gap: 10px;
  padding: 20px 0 20px 0;
}

.navitem {
  color: #f5e6d3;
  display: grid;
  grid-template: 'image image title title'
    'image image info info';
  padding: 40px;
  text-align: center;
  text-decoration: none;
}

.navitem img {
  grid-area: image;
  max-height: 300px;
  object-fit: cover;
  max-width: 400px;
}

.pageTitle {
  font-size: 4rem;
  text-shadow: 5px 1px black;
}

.pageInfo {
  font-size: 2rem;
  text-shadow: 2px 1px black;
}

.text {
  font-size: 1.5rem;
  text-shadow: 2px 1px black;
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.5rem;
  grid-area: title;
  letter-spacing: -0.5px;
}

.info {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  grid-area: info;
  letter-spacing: -0.5px;
  margin: 0 20px 0 20px;
}

.nonAlco {
  background-color: #40140f;
  color: #f5e6d3;
  display: grid;
  grid-template: 'title title image image '
    'info info image image';
  padding: 40px;
  text-align: center;
  text-decoration: none;
}

.nonAlco img {
  grid-area: image;
  max-height: 300px;
  justify-self: end;
  object-fit: cover;
  max-width: 400px;
}


@media (max-width: 768px) {

  .navitem,
  .nonAlco {
    display: block;
  }

  .navitem img,
  .nonAlco img {
    max-width: 300px;
  }
}