.navbar {
  display: flex;
  gap: 40px;
}

.navItem {
  border-bottom: 1px solid transparent;
  color: #f5e6d3;
  cursor: pointer;
  text-decoration: none;
}

.navItem:hover {
  border-bottom: 1px solid grey;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar.active {
    background-color: #F5EDDC;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 70px;
  }

  .hamburger {
    display: block;
    margin: 10px;
  }
}